﻿@inherits System.Web.Mvc.WebViewPage<AglTest.Models.OwnersModel>
@using System.Linq;
@{

    ViewBag.Title = "AGL Test Page";

    var genderList = Model.Owners.OrderByDescending(o => o.gender).GroupBy(o => o.gender);


}


@foreach (var gender in genderList)
{
    <div>
        @{
            <h3>@gender.Key</h3>
            <ul>
                @foreach (var person in gender.ToList())
                {
                    if (person.pets != null)
                    {

                        foreach (var pet in person.pets.Where(p => p.type == "Cat"))
                        {
                <li>@pet.name</li>


                        }

                    }
                }
            </ul>
        }
    </div>

            }
